
.jumbotron {
    background-color: whitesmoke;
    background-image: url("../images/Friends2.png");
    background-size: cover
}
.bing {
    background-image: url("../images/Friends.jpg");
    background-size: cover;

}
.game_content {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
}
.game_over {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
}