div {
    background-color: dimgray;
}
.jumbotron {
    background-color: whitesmoke;
    background-image: url("../images/Friends2.png");
    background-size: cover
}
#trivia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    color:dodgerblue;
    text-shadow: dimgray;
    

}
.bing {
    background-image: url("../images/Friends.jpg");
    background-size: cover;

}